body {
    /* background-color: #ffdd90; */
    background-image: url("https://wallpaperaccess.com/full/3192310.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
}

img {
    width: 400px;
}

#thirdDiv {
    width: 500px;
    height: 600px;
    background-color: rgb(238, 110, 88);   
    padding: 50px;
    border: 2px dashed green;    
}

#spanId {
    font-size: 18px;
    margin: 50px;
    color: rgba(174, 23, 204, 0.993);
}

a {
    color: #e70f45;
    font-size: 118%;   
}

